.wrapper {
  padding: 40px;
  display: flex;
  gap: 15px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  box-shadow: 0 0 5px 5px red;
}

.box2 {
  composes: box; /* за допомогою цього значення робимо наслідування стилів з box */
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
