:root {
  --grey: grey;
  --orange: orange;
}
.header {
  background-color: var(--grey);
  color: white;
  font-size: 1.5rem;
  padding: 20px;
}
.title {
  text-align: center;
  text-decoration: underline;
  color: blue;
}
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 80%;
  padding: 0;
  margin: 0;
}
